<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<!-- <div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div> -->
		
		<div class="tbl-header" style="max-height: 75%; overflow: auto;">
			<table  cellpadding="0" cellspacing="0"  border="0">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">code</th>
						<th scope="col">name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Join date</th>
						<th scope="col">Lifetime Cycle</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<% for(let i=0; i<consultant.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= consultant[i].code  %> </td>
							<td> <%= consultant[i].name %> </td>
							<td> <%= consultant[i].email_id %> </td>
							<td> <%= consultant[i].mobile_no %> </td>
							<td> <%= consultant[i].dateOfJoining.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
							<td> <%= consultant[i].consultantLifetimeCycleNumber %> </td>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>