<main>
	<%- include('../partials/agentSidebar') %>
	
	<div id="main-wrapper">
		
		<!-- <div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Leads</h5>
		</div> -->
		
		<div class="border m-4 my-3 p-4 bg-white rounded-2 shadow-sm">
			<div class="mb-2">
				<span>Lead ID:</span>
				<span><%= Leads.leadID %></span>
			</div>
			
			<div class="mb-2">
				<span>Lead type:</span>
				<span><%= Leads.leadType %></span>
			</div>
			
			<div class="mb-2">
				<span>eventName:</span>
				<span><%= Leads.eventName %></span>
			</div>
			
			<div class="mb-2">
				<span>Time of eventDate:</span>
				<span><%= Leads.eventDate.toLocaleString("en-IN", { dateStyle: "medium", }) %></span>
			</div>
			
			<div class="mb-2">
				<span>Address to collect:</span>
				<span><%= Leads.eventLocation %></span>
			</div>
			
			<div class="mb-2">
				<span>Phone:</span>
				<span><%= Leads.phone %></span>
			</div>
			
			<% if(Leads.cycle != "") { %>
				<div class="mb-2">
					<span>Cycle label:</span>
					<div class="ms-3"><%= Leads.cycle.label %></div>
					<span>Cycle number:</span>
					<div class="ms-3"><%= Leads.cycle.number %></div>
					<span>Cycle year:</span>
					<div class="ms-3"><%= Leads.cycle.year %></div>
				</div>
			<% } %>
				

			
<!-- 			
			<div class="mt-4">
				<% if(Leads.status == "Pending") { %>
					<a href="/admin/Leads/accept/<%= Leads._id %>" class="btn">Convered</a>
					<a href="/admin/Leads/reject/<%= Leads._id %>" class="btn btn-danger">Junk</a>
				<% } else if(Leads.status == "Convered") { %>
					<a href="/admin/Leads/assign/<%= Leads._id %>" class="btn">Assign agent</a>
				<% } %>
			</div> -->
			
		</div>
		
	</div>
</main>